@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgb(0 0 0 / 0.5);
  }

  .rtl {
    direction: rtl;
  }

  .ltr {
    direction: ltr;
  }

  @media print {
    .no-print {
      display: none !important;
    }
    
    body {
      margin: 0;
      padding: 0;
      font-size: 12pt;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    td, th {
      border: 1px solid #000;
      padding: 8px;
      page-break-inside: avoid;
    }
  }
}

